<div class="content-list">

  <div class="list">

    <div class="item bg-01">

      <div class="inside-card card-new">

        <ion-icon name="add-circle-outline"></ion-icon>

        <div class="text-card">

          <ion-text>Novo </ion-text>

          <ion-text>Treino</ion-text>

        </div>

      </div>

    </div>

    <div class="item bg-02" *ngFor="let item of list_training?.data" [ngStyle]="{'background-image': 'url('+item?.img+')'}">

      <div class="inside-card card-list" >

        <ion-text>{{item?.title}} </ion-text>

      </div>

    </div>  
    
  </div>

</div>