<div class="content-list">

  <div class="list">

    <div class="item bg-01">

      <div class="inside-card card-new">

        <ion-icon name="add-circle-outline"></ion-icon>

        <div class="text-card">

          <ion-text>Novo </ion-text>

          <ion-text>Treino</ion-text>

        </div>

      </div>

    </div>

    <div class="item bg-02">

      <div class="inside-card card-list">

        <ion-text>yoga experience </ion-text>


      </div>

    </div>  

    <div class="item bg-03">

      <div class="inside-card card-list">

        <ion-text>levantamento de peso </ion-text>

      </div>

    </div>  

  </div>

</div>