<div class="header-content">

  <div class="header-top">

    <ion-icon class="ico-menu" name="menu-outline"></ion-icon>

    <img class="img-logo" src="../../../assets/imgs/logo-test.png">

    <div class="div-ico-notification">

      <ion-icon class="ico-notification" name="notifications"></ion-icon>

    </div>

    <div class="ico-status-notification"></div>

  </div>

  <div class="details-user">

    <div class="div-img-user">

      <img class="img-user" src="../../../assets/imgs/profile-image.jpg">

    </div>

    <div class="info-user">

      <ion-text class="name">Leonardo Santos</ion-text>

      <ion-text class="level">Nível Roxo</ion-text>

    </div>

  </div>

  <div class="actions">

    <div class="list">

      <div class="item">

        <ion-icon name="accessibility"></ion-icon>
       <ion-text> meu corpo</ion-text>

      </div>

      <div class="item">

        <ion-icon name="trophy"></ion-icon>
       <ion-text> objetivos e conquistas</ion-text>

      </div>

    </div>

  </div>

</div>