<ion-header [translucent]="true">

    <ion-toolbar>

        <ion-title>

            <app-header></app-header>

        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <div class="title-list">

        <ion-text> Personal Online</ion-text>

        <ion-icon name="add-circle-outline"></ion-icon>

    </div>

    <app-training-list></app-training-list>

    <div class="title-list">

        <ion-text> Programas</ion-text>

        <div class="badge-personal">
            <ion-text>Novo</ion-text>

        </div>

    </div>

    <app-programs-list></app-programs-list>

    <div class="title-list">

        <ion-text> Conteúdos</ion-text>
    </div>


    <app-content-list></app-content-list>


</ion-content>