<!-- <div class="background" style="background: #139999;width: 100%;height: 200px;"></div> -->


<ion-header mode="ios">

    <ion-toolbar>

        <div class="inside">

            <img class="logo" src="../../assets/imgs/logo.png">

        </div>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <div class="body-content">

        <div class="title">Tocantins</div>

        <div class="sub">Selecione sua cidade e faça suas avaliações!</div>


        <div class="list-cities">

            <ion-text class="citie" (click)="initiBrowser(item)" *ngFor="let item of list_cities">

                <ion-icon name="location-outline"></ion-icon>

                {{item?.name}}</ion-text>

            <!-- <ion-text class="citie">

                <ion-icon name="location-outline"></ion-icon>

                Paraíso do Tocantins</ion-text> -->


        </div>

    </div>


</ion-content>

<ion-footer class="custom-footer">

    <ion-text>Aqui Você Avalia - Todos direitos reservados</ion-text>

</ion-footer>