ion-toolbar {
  --background: var(--ion-header-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
ion-header {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

ion-content {
  --background: var(--ion-body-color);
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.title-list {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 23px 10px 23px;
  text-transform: uppercase;
  ion-icon {
    margin-left: 5px;
    margin-top: 3px;
    color: var(--ion-color-primary);
  }
  .badge-personal {
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-color-primary);

    ion-text {
      padding: 0px 3px;
      color: white;
      font-size: 0.7rem;
      font-weight: 500;
      margin-bottom: 2px;
    }
  }
}
