<div class="content-list">

  <div class="list">

    <div class="item bg-01">

      <div class="inside-card card-list">

        <ion-text class="text-continue">

          <ion-icon name="calendar-clear-outline"></ion-icon>
          
          22 de Abril</ion-text>

        <ion-text class="name-program">
          importância do treinamento </ion-text>

      </div>

    </div> 
    
    <div class="item bg-02">

      <div class="inside-card card-list">

        <ion-text class="text-continue">

          <ion-icon name="calendar-clear-outline"></ion-icon>
          
          05 de Março</ion-text>

        <ion-text class="name-program">
          Como aumentar imunidade </ion-text>

      </div>

    </div>   

  </div>

</div>