<div class="content-list">

  <div class="list">

    <div class="item bg-03">

      <div class="inside-card card-list">

        <ion-text class="text-continue">Continuar Treinando</ion-text>

        <ion-text class="name-program">levantamento de peso </ion-text>

      </div>

    </div>

    <div class="item bg-02">

      <div class="inside-card card-list">

        <ion-text class="name-program">yoga experience </ion-text>

      </div>

    </div>

    <div class="item bg-03">

      <div class="inside-card card-list">

        <ion-text class="name-program">levantamento de peso </ion-text>

      </div>

    </div>

  </div>

</div>